<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>👋 Hi there! I'm Poushali.
☕ Turning Coffee, Code, and Innovation into Secure Solutions 💻🔐
🧑‍💻As a Graduate Engineer Trainee at Daimler Truck Innovation Centre India, I’m part of the Cyber Security department's Product Security team, where I work to ensure our innovations are as secure as they are groundbreaking 🚀.
💛With a passion for both Java and Python 🐍, I’m always eager to explore new horizons in development while deepening my knowledge in cybersecurity. My college journey was fueled by curiosity, leading me to dive into cutting-edge fields like machine learning 🤖 and blockchain ⛓️, where I completed exciting projects.
</p>
      </div>
      <div class="col-lg-4">
        <p>
🖤Beyond the code, I'm powered by coffee ☕ and driven by a love for music 🎶, which keep my creativity and problem-solving sharp. Whether it’s securing products, writing clean code, or exploring the latest tech trends, I’m always looking for the next challenge to tackle.
❤️Let’s connect if you share a passion for innovation, development, and cybersecurity!
🚀 #TechEnthusiast #ProblemSolver #LateNightCoder </p>
      </div>
      
    </div>
  </div>
</section>
